<h2><%= t("debt_mailer.greeting", name: @recipient.full_name) %></h2>

<p><%= t("debt_mailer.payment_approved.body", amount: @payment.amount, currency: @debt.currency) %></p>

<table>
  <tr>
    <td><strong><%= t("debt_mailer.amount_label") %></strong></td>
    <td><%= @payment.amount %> <%= @debt.currency %></td>
  </tr>
  <tr>
    <td><strong><%= t("debt_mailer.debt_amount_label") %></strong></td>
    <td><%= @debt.amount %> <%= @debt.currency %></td>
  </tr>
</table>

<p>
  <%= link_to t("debt_mailer.view_debt"), debt_url(@debt) %>
</p>

<p><%= t("debt_mailer.sign_off") %></p>
